.unorderedUserList {
    list-style-type: none;
    padding: 0;
}

.userButtonLink {
    text-align: left;
    width: 100%;
    min-height: 8vh;
    padding-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0px;

    border-style: none;
    font-size: larger;
    background-color: #3C3C3C;
    color: white;
}

.userButtonLink img {
    width: 7%;
    padding-right: 2.5%;
}