@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.catchpage {
  background-color: #2b373f;
  margin: 0;
  height: 100%;
  position: fixed;
  font-family: "Anta", sans-serif;
  width: 100%;
  text-align: center;
}


.container {
  width: 80%;
  margin: 10% auto;
  padding: 20px;
  background-color: #36454F;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 150%;
  color: #f5f5f5;
}

h2 {
  font-size: 120%;
  color: #f5f5f5;
}

p { 
  color: #f5f5f5;
  font-size: 90%;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.blist {
  display: flex;
  padding: 5%;
}

.btn {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #FF521B;
  color: white;
  cursor: pointer;
  font-family: "Anta", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}

.inc {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #be2626;
  color: white;
  cursor: pointer;
  font-family: "Anta", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  
}

.rej {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4a84db;
  color: white;
  cursor: pointer;
  font-family: "Anta", sans-serif;
  margin-right: 5%;
}

.btn:hover {
  background-color: #F4743B;
}

.btn-alt {
  width: 50%;
  padding: 2%;
  margin: 10% auto;
  border: none;
  border-radius: 5px;
  background-color: #FF5F1F;
  color: white;
  cursor: pointer;
}


.btn-alt:hover {
  background-color: #FF5F1F;
}
